@model PIS_GrpcService.PIS_GrpcService.AnimalArray

@{
    ViewData["Title"] = "Реестр животных";
}

<h1>Животные</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Coat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Ears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Tail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].IdCapturedAct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].IdentChip)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Breed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ears)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCapturedAct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentChip)
                </td>
                <td style="text-align: center;">
                    <a asp-action="Add" style="text-decoration: none;" title="Создать">Создать</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: none;" title="Редактировать">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none;" title="Просмотреть карточку животного">Просмотреть</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: none;" title="Удалить">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
