@model PIS_GrpcService.PIS_GrpcService.ContractsArray

@{
    ViewData["Title"] = "Реестр контрактов";
}

<h1>Реестр контрактов</h1>
<div>
<button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#dateModal1" onclick="openModal1(this)">Сделать отчет по закрытым контрактам</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].ConclusionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].EffectiveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Performer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].LocalityCosts)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConclusionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EffectiveDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Performer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalityCosts)
                </td>
                <td style="text-align: center;">
                    <a asp-action="Add" style="text-decoration: none;" title="Создать">Создать</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: none;" title="Редактировать">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none;" title="Просмотреть карточку контракта">Просмотреть</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: none;" title="Удалить">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div class="modal fade" id="dateModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Выберите дату</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="dateForm">
                    <div class="form-group">
                        <label for="organization">Выберите организацию</label>
                        <select class="form-control" id="organization">
                            @foreach (var organization in Model.List.Select(item => item.Performer.OrgName).Distinct())
                            {
                                <option value="@organization">@organization</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="startDate">Начальная дата</label>
                        <input type="date" class="form-control" id="startDate">
                    </div>
                    <div class="form-group">
                        <label for="endDate">Конечная дата</label>
                        <input type="date" class="form-control" id="endDate">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="submitDates1()">Показать отчет</button>
            </div>
        </div>
    </div>
</div>

<script>
    //function openModal(element) {
    //    var localityList = document.getElementById("localityList").value.split(",");
    //}

    function submitDates1() {

        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;
        var orgId = document.getElementById("organization").value;

        window.location.href = '/ReportGenerator/MakeClosedContractsReport?startDate=' + startDate + ' &endDate=' + endDate + '&orgName=' + orgId;

        $('#dateModal').modal('hide');
    }
</script>