@model PIS_GrpcService.PIS_GrpcService.CaptureActArray

@{
    ViewData["Title"] = "Реестр актов";
}

<h1>Реестр актов отлова</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].ActDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].CapturedAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Performer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Localities)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.ActDate)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.CapturedAnimal)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Performer)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Locality)
                    </td>
                    <td style="text-align: center;">
                        <a asp-action="Add" style="text-decoration: none;" title="Создать">Создать</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: none;" title="Редактировать">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none;" title="Просмотреть карточку акта">Просмотреть</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: none;" title="Удалить">Удалить</a>
                    </td>
                </tr>
        }
    </tbody>
</table>