@model PIS_GrpcService.PIS_GrpcService.LocalityCostArray

@{
    ViewData["Title"] = "Реестр Стоимостей в городах";
}

<h1>Стоимость</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.List[0].IdCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].IdContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].IdLocality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Cost)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdContract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLocality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td style="text-align: center;">
                    <a asp-action="Add" style="text-decoration: none;" title="Создать">Создать</a> |
                    <a asp-action="Edit" asp-route-id="@item.IdCost" style="text-decoration: none;" title="Редактировать">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCost" style="text-decoration: none;" title="Удалить">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
